/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2020, 10:56:21 PM
    Author     : jeffg
*/

.root {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 10;
}

.Button {
    -fx-background-color: #cccccc;
}

.Button:hover {
    -fx-text-fill: whitesmoke;
}

.visualizeButton {
    -fx-background-color: #66ff66;
}

.visualizeButton:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #66ff66;
    -fx-stroke-width: 1px;
    -fx-border-color: #66ff66;
    -fx-border-width: 2px;
    -fx-border-style: dotted;
    -fx-border-radius: 3px;
}

.ExitButton {
    -fx-background-color: #ff3333;
}

.ExitButton:hover{
    -fx-text-fill: #ff3333;
    -fx-background-color: transparent;
    -fx-border-radius: 3px;
    -fx-border-color: #ff3333;
}